html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #69161e;
}
.container{
    max-width: 1100px;
    background-color: #dddddd;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
    
}
.bold{
    font-weight: bold;
}
/* Header */
.header{
    text-align: center;
}
.main-title{
    font-size: 40px;
}
.main-paragraph{
    font-style: italic;
}
/* imagem destaque */
.feature-image{
    text-align: center;
    margin-top: 30px;
}
    
/* biografia */
.bioagraph-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}
/* Quotes */
.quotes-container{
    background-color: #ddd;
    padding: 30px;
}
.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;
}
.quotes-container p{
    font-style: italic;
}
/* curiosidades */
.curiosities-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.curuiosities-container li{
    height:30;

}
/* Imagem Bold */
.img-bold{
    font-weight: bold;
    text-align: center;
}